{% extends "webapp/base.html" %}

{% block title %} Accueil {% endblock %}

{% block bodyId %} welcomePage {% endblock %}

                           

    {% block headerContent %}
        <p id="name">{{ utilisateur_en_ligne.prenom }} {{ utilisateur_en_ligne.nom }}</p>
        <p id="function">
            {% if utilisateur_en_ligne.type_personne == 'Utilisateur' %}
            Étudiant en
            {{ utilisateur_en_ligne.formation }}
            {% else %}
                {{ utilisateur_en_ligne.poste|capfirst }}
            {% endif %}
        </p>
        <p id="profileLinks">
            <a href="???" class="buttonLink">Voir le profil</a>
            <a href="???" class="buttonLink">Modifier le profil</a>
        </p>
    {% endblock %}

                           

    {% block content %}

    <section id="messageList">
        <form action="bienvenue" method="POST" class="inlineForm">
            <label for="newMessageInput">Publier un message :</label>
                <input type="text" name="newMessage" id="newMessageInput" />
                <input type="submit" value="Publier" />
        </form>

        <ul>
            {% for message in friendMessages %}
            <li>
                <p><a href="showProfile?userToShow={{ message.auteur.id }}">
                    {{ message.auteur.prenom }} {{ message.auteur.nom }}</a> dit :
                </p>
                <p>{{ message.contenu }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section id="friendList">
        <p class="title">Mes collègues</p>

            <form action="bienvenue" method="get" class="inlineForm">
                <input type="email" name="newFriend" id="newFriendInput" placeholder="Courriel" />
                <input type="submit" value="Ajouter" />
            </form>

            <p><a href="???" class="buttonLink">Ajouter</a></p>

            <ul>
            {% for collegue in utilisateur_en_ligne.collegues.all %}
                <li><a href="showProfile?userToShow={{ collegue.id }}">{{ collegue.prenom }} {{ collegue.nom }}</a></li>
            {% endfor %}
            </ul>
    </section>

    {% endblock %}

