{% extends "webapp/base.html" %}

{% block title %} Inscription {% endblock %}

{% block bodyId %}PageInscription{% endblock %}

{% block content %}
	<form method="POST">

		{% csrf_token %} <!-- MESURE DE SÉCURITÉ -->

		{% if error %}
			<p>{{ error }}</p>  <!-- MESSAGE D'ERREURS -->
		{% endif %}

		{{form.as_p}} <!-- FORMULAIRE -->

		<p>
 			<input type="submit" value="Créer un compte"/>
 			<a href=" {% url 'connexion' %}">Se connecter</a>
 		</p>
	</form>
{% endblock %}