{% extends "webapp/base.html" %}

{% block title %} Création d'un profil {% endblock %}

{% block bodyId %} userProfilPage {% endblock %}

{% block content %}

	<h1> Création d'un compte </h1>

<!-- FORMULAIRE BOUTONS SELECT --------------------------------------------------------------------------------->

<form>
 	<p>
 		<label for="typeProfile">Vous êtes :</label>
 		<select id="typeProfile">
 			<option value="etudiant" {% if formEt.is_bound %} selected="selected" {% endif %}>Étudiant</option>
 			<option value="employe" {% if formEm.is_bound %} selected="selected" {% endif %}>Employé</option>
 		</select>
 	</p>
</form>

<!-- FORMULAIRE INSCRIPTION ÉTUDIANT --------------------------------------------------------------------------------->

	<form method="POST" id="formEtudiant">

		{% csrf_token %} <!-- MESURE DE SÉCURITÉ -->

		{% if error %}
			<p>{{ error }}</p>  <!-- MESSAGE D'ERREURS -->
		{% endif %}

		{{formEt.as_p}} <!-- FORMULAIRE -->

		<p>
 			<input type="hidden" name="typeProfile" value="etudiant" />
 			<input type="submit" value="Créer un compte" />
 		</p>
	</form>

<!-- FORMULAIRE INSCRIPTION EMPLOYÉ --------------------------------------------------------------------------------->

	<form method="POST" id="formEmploye">

		{% csrf_token %} <!-- MESURE DE SÉCURITÉ -->

		{% if error %}
			<p>{{ error }}</p>  <!-- MESSAGE D'ERREURS -->
		{% endif %}

		{{formEm.as_p}} <!-- FORMULAIRE -->

		<p>
 			<input type="hidden" name="typeProfile" value="etudiant" />
 			<input type="submit" value="Créer un compte" />
 		</p>
	</form>

<!-- FONCTION JAVASCRIPT --------------------------------------------------------------------------------------------->

<script type="text/javascript">
 function displayRightForm() {
 	if ($('#typeProfile').val() == 'etudiant') {
 		$('#formEmploye').hide();
 		$('#formEtudiant').show();
	 }
 	else {
 		$('#formEtudiant').hide();
 		$('#formEmploye').show();
 	}
 }
 $(document).ready(displayRightForm);
 $('#typeProfile').change(displayRightForm);

</script>
{% endblock %}



















# TABLE MESSAGE -------------------------------------------------------------------------------------------------------

class Message(models.Model):
    # Clé étrangère : relation (liaison) 1,n (l'auteur d'un message est d'abord un utilisateur)
    # l'héritage ici peut se faire avec les côtes
    auteur = models.ForeignKey('Utilisateur', on_delete=models.CASCADE)
    contenu = models.TextField()
    date_de_publication = models.DateField()

    def __str__(self):
        if len(self.contenu) > 20:
            return self.contenu[:19] + "..."
        else:
            return self.contenu


# TABLE ÉCOLE ------------------------------------------------------------------------------------------------------

class Ecole(models.Model):
    nom = models.CharField(max_length=30)

    def __str__(self):
        return self.nom


# TABLE CURSUS ------------------------------------------------------------------------------------------------------

class Cursus(models.Model):
    titre = models.CharField(max_length=30)

    def __str__(self):
        return self.titre


# TABLE POSTE ---------------------------------------------------------------------------------------------------------

class Poste(models.Model):
    titre = models.CharField(max_length=30)

    def __str__(self):
        return self.titre


# TABLE EMPLOYÉ -------------------------------------------------------------------------------------------------------

class Employe(Utilisateur): # NB: l'héritage en classe se fait sans les côtes
    service = models.CharField(max_length=30)
    # Clé étrangère : relation 1,n
    poste = models.ForeignKey('Poste', default=None, null=True, on_delete=models.CASCADE)
    # attribut permettant de connaître le type de d'utilisateur connecté
    type_utilisateur = 'employe'

    def __str__(self):
        return self.service


# TABLE ÉTUDIANT ------------------------------------------------------------------------------------------------------

class Etudiant(Utilisateur):
    # Clé étrangère : relation 1,n
    cursus = models.ForeignKey('Cursus', default=None, null=True, on_delete=models.CASCADE)
    annee = models.IntegerField()
    # attribut permettant de connaître le type de d'utilisateur connecté

    type_utilisateur = 'etudiant'

    def __str__(self):
        return self.annee





class Utilisateur(models.Model):
    CHOIX_SEXE = [
        ('H', 'HOMME'),
        ('F', 'FEMME'),
    ]
    nom = models.CharField(max_length=30)
    prenom = models.CharField(max_length=30)
    sexe = models.CharField(max_length=30, choices=CHOIX_SEXE)
    email = models.EmailField()
    # Dans un cas reel, nous ne devrions pas stocker le mot de passe en clair.
    password = models.CharField(max_length=32)
    # clé étrangères : relation n,n - plusieurs à plusieurs -
    amis = models.ManyToManyField('self')
    # Clé étrangère : relation 1,n
    ecole = models.ForeignKey('Ecole', default=None, null=True, on_delete=models.CASCADE)
    type_utilisateur = 'generic'







{% block headerContent %}
    <p id="nom">{{ utilisateur_en_ligne.prenom }} {{ utilisateur_en_ligne.nom }}</p>
    <p id=""> <a href="{% url 'connexion' %}"> Déconnexion </a> </p>
        <!-- 2 --->
    <p> <a href="{% url 'connexion' %}"> Connexion </a> </p>




    <!-- ----------- LIENS PROFIL ------------- -->
    <p id="profileLinks">
        <a href="???" class="buttonLink">Voir le profil</a>
        <a href="???" class="buttonLink">Modifier le profil</a>
    </p>
{% endblock %}

{% block content %}
    <section id="messageList">
        <form action="bienvenue" method="get" class="inlineForm">
            <label for="newMessageInput">Publier un message :</label>
                <input type="text" name="newMessage" id="newMessageInput" />
                <input type="submit" value="Publier" />
        </form>

        <ul>
            {% for message in friendMessages %}
            <li>
                <p><a href="showProfile?userToShow={{ message.author.id }}">{{ message.author.first_name }} {{ message.author.last_name }}</a> dit :</p>
                <p>{{ message.content }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section id="friendList">
        <p class="title">Mes amis</p>

        <form action="bienvenue" method="get" class="inlineForm">
            <input type="email" name="newFriend" id="newFriendInput" placeholder="Courriel" />
            <input type="submit" value="Ajouter" />
        </form>

        <p><a href="???" class="buttonLink">Ajouter</a></p>

        <ul>
        {% for friend in logged_user.friends.all %}
            <li><a href="showProfile?userToShow={{ friend.id }}">{{ friend.first_name }} {{ friend.last_name }}</a></li>
        {% endfor %}
        </ul>
    </section>

<script type="text/javascript">
    $(document).ready(function()
    {
        $("#friendList form").submit(addFriend);
    });

 function addFriend()
{
    $fieldValue = $("#newFriendInput").val();
    $.ajax({
        url: '/ajax/addFriend',
        data: ({email : $fieldValue}),
        type: 'GET',
        success: function($data, $textStatus, $XMLHttpRequest) {
            if ($data != '')
            {
             $('#friendList ul').prepend($data);
            }
           }
        }
        );
 return false;
}
</script>
{% endblock %}
