{% extends "webapp/base.html" %}

{% block title %}Affichage d’un profil{% endblock %}

{% block bodyId %}showProfilePage{% endblock %}

{% block content %}
<h1>Affichage d’un profil</h1>
<dl class="fieldList">
   <dt>Nom :</dt>
      <dd>{{ utilisateur_en_ligne.nom }}</dd>
   <dt>Prénom :</dt>
      <dd>{{ utilisateur_en_ligne.prenom }}</dd>
   <dt>Courriel :</dt>
      <dd>{{ utilisateur_en_ligne.email }}</dd>
   <dt>Poste :</dt>
   <dd>{{ utilisateur_en_ligne.poste }}</dd>
</dl>
<p id="showProfileNavigationButtons">
   <a href="welcome" class="buttonLink">Retour</a>
</p>
{% endblock %}