*{
  margin: 0px;
  padding: 0px;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  /* border: solid red; */
}


.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.en-tete-droite {
  float: right;
}


.liens-nav a {

  color: black;
  align-content: center;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

}


.infos-compte {
  
  color: black;
  align-content: center;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

}

.infos-compte a{
  
  color: black;
  align-content: center;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

}



@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
s
  
  
  
  
  
  
  /* BODY  */
  .main {
    max-width: 1200px; /* largeur maximale du body*/
    margin: auto;
    border: solid blue;
  }
  
  .h1-ev {
    font-size: 50px;
    word-break: break-all;
    padding: 15px;
  }
  
  #conteneur-bouton {
    padding: 15px;
  }
  
  .ligne {
    margin: 10px -3px;
    border: solid red;
  }
  
  /* Ajout d'un padding entre chaque colonne à l'intérieur de la ligne */
  .ligne,
  .ligne > .colonne {
    /*padding:  10px;*/ 
  }
  
  /* On créé 3 colonne égales qui flottent les unes à la suite des autres */
  .colonne {
    float: left;
    width: 80%;
    display: none;
    padding: 15px;
    border:;
  }
  
  .panier{
    border: solid red;
    float: right;
    width: 20%;
    padding: 13px;
    height: 13em;
    background-color: ;
  }
  
  .contenu-panier{
    background-color: white;
    height: 11.5em;
    padding:  15px;
  }
  
  /* Clear floats after rows */
  /* après la balise..., faire ce qui est dit en dessous */
  .ligne:after {
    content: "";
    display: table; /*afficher sous forme de ligne*/
    clear: both;
  }
  
  /* Contenu */
  .contenu {
    background-color: white;
    padding: 10px;
    height: 500px; /* taille fixe du contenu de la case */
  }
  
  /* On ajoute la classe "montrer" dans l'élément filtré*/
  .montrer {
    display: block;
  }
  
  /* Style des boutons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .btn.actif {
    background-color: #666;
     color: white;
  }
  
  
  /* Responsive - dispose en une ligne au lieu de 3 colonnes */
  @media screen and (max-width: 900px) {
    .colonne {
      width: 60%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .colonne {
      width: 100%;
    }
  }