<!-- On utilise la base extends pour étendre le fichier 'monsite/base.html' -->
{% extends 'monsite/base.html' %}

{% block title %} Authentification {% endblock %}

{% block bodyId %} loginPage {% endblock %}

{% block content %}


<form method="POST">
    			{% csrf_token %}

			<!--(ou) entre les balises <table>, dans un tableau (le mieux aligné) -->
			<table>
				{{ form.as_table }}
			</table>

    <!--

<form action="???" method="get">
 <p>
 <label for="email">Courriel :</label>
 <input name="email" id="email" size="30" type="email" />
 </p>
 <p>
 <label for="password">Mot de passe :</label>
 <input name="password" id="password" size="30" type="password" />
 </p>
 <p>
 <input type="submit" value="Se connecter"/>
 <a href=" ">Créer un compte</a>
 </p>
</form>

-->
{% endblock %}
