{% extends "monappli/base.html" %}

{% block title %} Accueil {% endblock %}

{% block welcomPage %} welcomePage {% endblock %}

{% load static %}

{% block headerContent %}

    <p>
        <a href="{% url 'connexion' %}"> Connexion </a>
        <a href=""> Déconnexion </a>
    </p>

        <p id="name">{{ utilisateur.prenom | capfirst }} {{ utilisateur.nom | capfirst }}</p>

    <p id="profileLinks">
        <a href=" " class="buttonLink">Voir le profil</a>
        <a href=" " class="buttonLink">Modifier le profil</a>
    </p>

{% endblock %}



{% block content %}

    <section id="messageList">

    </section>

    <section id="friendList">

    </section>

{% endblock %}

