{% extends "monappli/base.html" %}

{% block title %} Création d'un profil {% endblock %}

{% block bodyId %} userProfilePage {% endblock %}

{% block headerContent %}  {% endblock %}

{% block content %}

  <h1> Création d'un compte </h1>

	<form  method="POST" > {% csrf_token %} <!-- MESURE DE SÉCURITÉ -->

		{% if error %}
			<p>{{ error }}</p>  <!-- MESSAGE D'ERREURS -->
		{% endif %}

		{{form.as_p}} <!-- FORMULAIRE -->

		<p>
 			<input type="submit" value="S'inscrire"/>
 			<a href="{% url 'connexion' %}"> Se connecter </a>
 		</p>
	</form>

{% endblock %}