{% extends "webapp/base.html" %}

{% block title %} Bienvenue {% endblock %}

{% block bodyId %} PageDeBienvenue {% endblock %}

{% block headerContent %}
    <!-- ----------- NOM DE L'UTILISATEUR ------------- -->
    <p id="nom">{{ User.last_name }} {{ logged_user.last_name }}</p>

    <!-- ----------- LIENS PROFIL ------------- -->
    <p id="lien-profil">
        <a href="profile?User={{ logged_user.id }}" class="bouton-lien"> Voir le profil</a>
        <a href="???" class="bouton-lien"> Modifier le profil</a>
    </p>
{% endblock %}

{% block content %}

		<h1> Bienvenue </h1>

{% endblock %}
