{% extends "applidjango/base.html" %}

{% block title %}Accueil{% endblock %}

{% block bodyId %}welcomePage{% endblock %}

{% block headerContent %}
    <p id="nom">{{ utilisateur.prenom | capfirst }} {{ utilisateur.nom | capfirst }}</p>

    <p id="function">     </p>

    <p id="profileLinks">
        <a href="{% url 'voir_profil' %}" class="buttonLink">Voir le profil</a>
        <a href="{% url 'modification_profil' %}" class="buttonLink">Modifier le profil</a>
    </p>

    {% if utilisateur %}
        <p class="deconnexion"><a href="{% url 'connexion' %}"> Déconnexion </a></p>
    {% else %}
        <p class="connexion"><a href="{% url 'connexion' %}"> Connexion </a></p>
    {% endif %}
{% endblock %}


{% block content %}
<section id="messageList">
    <form action="{% url 'bienvenue' %}" method="POST" class="inlineForm">
        <label for="newMessageInput">Publier un message :</label>
        <input type="text" name="newMessage" id="newMessageInput" />
        <input type="submit" value="Publier" />
    </form>

 <ul>
 {% for message in friendMessages %}
    <li>
        <p>
            <a href="{% url 'bienvenue' %}">{{ message.author.prenom }} {{ message.auteur.nom }}</a> dit :
        </p>

        <p>{{ message.contenu }}</p>
    </li>
 {% endfor %}
 </ul>
</section>

<section id="friendList">
    <p class="title">Mes amis</p>
    <p><a href="/ajout_amis/" class="buttonLink">Ajouter</a></p>

    <ul>
    {% for ami in utilisateur.ami.all %}
        <li><a href="{% url 'voir_profil' %}">{{ Message.prenom }} {{ Message.nom }}</a></li>
    {% endfor %}
    </ul>
</section>
{% endblock %}